[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "cscore is a lightweight, zero-config and minimal-footprint library providing commonly used helpers & patterns for all your C# projects. It can be used in both pure C# and Unity projects."
[access "refs/*"]
	owner = group user/CsUtil.com (cs-util)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/CsUtil.com (cs-util)
	label-Verified = -1..+1 group user/CsUtil.com (cs-util)
	push = group user/CsUtil.com (cs-util)
	read = group user/CsUtil.com (cs-util)
	rebase = group user/CsUtil.com (cs-util)
	removeReviewer = group user/CsUtil.com (cs-util)
	submit = group user/CsUtil.com (cs-util)
[access "refs/heads/*"]
	create = group user/CsUtil.com (cs-util)
	push = +force group user/CsUtil.com (cs-util)
	pushMerge = group user/CsUtil.com (cs-util)
	read = group user/CsUtil.com (cs-util)
[access "refs/tags/*"]
	push = group user/CsUtil.com (cs-util)
	push = +force group user/CsUtil.com (cs-util)
